@import "../settings.scss";

.icon-container {
  margin: 0.5rem 0;
  text-align: center;
  z-index: 2;
  color: #9c9c9c;
  fill: $grey;
  transition: all 0.3s ease 0s;
}

.icon-Redux:hover {
  fill: $redux;
}

.arrow-container-about,
.arrow-up {
  z-index: 3;
  @media (min-width: 768px) {
    position: relative;
  }
  &:hover {
    cursor: pointer;
  }
}

.arrow-up {
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
    top: -7vh;
  }
}
.arrow-container-about > svg {
  opacity: 0.1;
  animation: arrow ease-in-out 0.8s infinite;
  position: relative;
  top: 0;
  @media (min-width: 768px) {
    top: 35%;
  }
}

.arrow-up > svg {
  opacity: 0.1;
  animation: arrow ease 0.8s reverse infinite;
  color: $purple;
}

.main-about {
  height: unset;
  @media (min-width: 768px) {
    height: 200vh;
  }
}

.paragraphs {
  font-size: 1rem;
}

@each $tech, $color in $icons {
  .icon-#{$tech}:hover {
    color: $color;
  }
}

.studies-title {
  text-transform: uppercase;
  font-weight: 700;
  color: $grey;
}

.school {
  color: $purple;
}

// .interest-icon:hover {
//   div > svg {
//     color: $purple;
//   }
// }

.about-photo {
  display: none;
  background-image: url("../assets/aboutMe2.png");
  max-width: 500px;
  height: 350px;
  background-size: cover;
  margin: auto;
  @media (min-width: 550px) {
    display: block;
  }
}

@media (min-width: 992px) {
  .icon-container {
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
  }
}
