@import '../settings.scss';

.contact-form {
  max-width: 720px;
  height: 360px;
  margin: 0 auto;
  z-index: 1;
}

textarea.form-control {
  resize: none;
  min-height: 150px;
}

.form-group {
  div.error {
    position: absolute;
    color: $html5;
  }
}
