@import '../settings.scss';

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 1rem;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: lighten($bg-color, 10%);
  color: $grey;
  border: solid 2px $purple;
  h2 {
    color: $white;
  }
  @media (min-width: 768px) {
    max-width: 350px;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 28, 28, 0.7);
  z-index: 99;
}
