@import "../settings.scss";

.footer__contact {
  display: none;
  color: $grey;
}

@media (min-width: 576px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
}
