/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
@import "../settings.scss";

a {
  transition: color 0.3s ease;
}

#menuToggle {
  display: block;
  position: absolute;
  z-index: 7;
  -webkit-user-select: none;
  user-select: none;
  //   @media (min-width: 768px) {
  //     display: none;
  //   }
}

#menuToggle input {
  display: block;
  width: 39px;
  height: 32px;
  position: absolute;
  top: -4px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 8;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
    * Just a quick hamburger
    */

#menuToggle span {
  right: 0.3rem;
  display: block;
  width: 2px;
  height: 20px;
  margin: 2px;
  margin-bottom: 5px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuHamb {
  background: $bg-color;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuHamb {
  opacity: 0;
  div {
    padding: 0.7rem 0.5rem 0 0.5rem;
    font-size: 1rem;
    opacity: 0;
    color: $white;
  }
  div.full-option {
    display: inline-block;
    transform: translate(320px, 0px);
  }
}

a.main-option {
  li {
    color: $white;
  }
  li.second-option {
    opacity: 0;
  }
}

a.active li {
  color: $purple;
}

.checkbox-container input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}
