@import "../settings.scss";

.main-title {
  font-size: 40px;
  width: max-content;
}

.greet {
  z-index: 2;
}

.dot {
  color: $purple;
}

.dot.webapps {
  display: inline-block;
  animation: webapps 9s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards infinite;
}

.social-media {
  display: none;
  flex: none;
  height: 37%;
}

.page-enter {
  opacity: 0;
  transition-delay: 1200ms;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 700ms;
  transition-delay: 1200ms;
}
.page-exit {
  opacity: 1;
  transition-delay: 700ms;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 900ms;
  transition-delay: 500ms;
}

@media (min-width: 576px) and (min-height: 425px) {
  .social-media {
    display: flex;
  }
}

div.follow,
div.singleLine {
  transform: rotate(90deg);
}

@mixin meBg {
  display: flex;
  opacity: 1;
  background-image: url("../assets/me-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

%meBg-styles {
  @include meBg();
}

.meBg {
  @extend %meBg-styles;
  position: absolute;
  height: 64vh;
  width: 72vw;
  top: 14vh;
}

@media (max-width: 768px) {
  .meBg {
    @include meBg();
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .meBg {
    @include meBg();
    opacity: 1;
    position: relative;
    height: 65vh;
    width: 91vw;
    top: 7vh;
  }
}

.beautiful {
  opacity: 1;
  animation: animate-beautiful-main 16s linear infinite;
  // &:before {
  //   content: "";
  //   opacity: 0;
  //   position: absolute;
  //   left: 40%;
  //   top: 1%;
  //   background: url("/public/assets/Images/beautiful.svg");
  //   transform: scale(1.3);
  //   animation: animate-beautiful 20s linear infinite;
  // }
}

@keyframes webapps {
  0% {
    transform: none;
    color: $purple;
  }
  96% {
    transform: none;
  }

  97% {
    transform: skew(-3deg, -5deg) scale(0.8) translateX(30px);
    color: $sass;
  }
  100% {
    transform: skew(5deg, -8deg) scale(1.8) translateX(32px);
    color: $css3;
  }
}

@-webkit-keyframes webapps {
  0% {
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    color: $purple;
  }
  95% {
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
  }

  96% {
    transform: skew(-3deg, -5deg) scale(0.8) translateX(30px);
    -webkit-transform: skew(-3deg, -5deg) scale(0.8) translateX(30px);
    -ms-transform: skew(-3deg, -5deg) scale(0.8) translateX(30px);
    color: $sass;
  }
  100% {
    transform: skew(5deg, -8deg) scale(1.5) translateX(32px);
    -webkit-transform: skew(5deg, -8deg) scale(1.5) translateX(32px);
    -ms-transform: skew(5deg, -8deg) scale(1.5) translateX(32px);
    color: $css3;
  }
}

@keyframes animate-beautiful {
  0% {
    left: 40%;
  }
  0.1% {
    left: 45%;
    opacity: 0.5;
  }
  0.4% {
    left: 50%;
    opacity: 1;
  }
  0.6% {
    left: 35%;
  }
  0.8% {
    left: 50%;
  }
  1% {
    left: 45%;
  }
  1.3% {
    left: 40%;
  }
  1.6% {
    left: 50%;
  }
  1.8% {
    left: 30%;
  }
  1.9% {
    left: 40%;
  }
  2% {
    left: 40%;
    opacity: 0;
  }
}

@-webkit-keyframes animate-beautiful {
  0% {
    left: 40%;
    filter: hue-rotate(0deg);
  }
  0.1% {
    left: 45%;
    opacity: 0.5;
  }
  0.4% {
    left: 50%;
    opacity: 1;
  }
  0.6% {
    left: 35%;
  }
  0.8% {
    left: 50%;
  }
  1% {
    left: 45%;
  }
  1.3% {
    left: 40%;
  }
  1.6% {
    left: 50%;
  }
  1.8% {
    left: 30%;
  }
  1.9% {
    left: 40%;
  }
  2% {
    left: 40%;
    opacity: 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes animate-beautiful-main {
  0% {
    color: $white;
    transform: skewX(0deg);
    opacity: 0;
  }
  1% {
    color: $mongo;
    transform: skewX(8deg);
  }
  2% {
    color: $white;
    transform: skewX(-10deg);
    opacity: 1;
  }
}

@-webkit-keyframes animate-beautiful-main {
  0% {
    -webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    opacity: 0;
  }
  1% {
    -webkit-transform: skewX(8deg);
    -ms-transform: skewX(8deg);
  }
  2% {
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(8deg);
    opacity: 1;
  }
}
