@import "../settings.scss";

.main-title {
  font-size: 40px;
  width: max-content;
}

.greet {
  z-index: 2;
}

.dot {
  color: $purple;
}

.social-media {
  display: none;
  flex: none;
  height: 37%;
}

.page-enter {
  opacity: 0;
  transition-delay: 1200ms;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 700ms;
  transition-delay: 1200ms;
}
.page-exit {
  opacity: 1;
  transition-delay: 700ms;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 900ms;
  transition-delay: 500ms;
}

@media (min-width: 576px) and (min-height: 425px) {
  .social-media {
    display: flex;
  }
}

div.follow,
div.singleLine {
  transform: rotate(90deg);
}

@mixin meBg {
  display: flex;
  opacity: 1;
  background-image: url("../assets/me-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

%meBg-styles {
  @include meBg();
}

.meBg {
  @extend %meBg-styles;
  position: absolute;
  height: 64vh;
  width: 72vw;
  top: 14vh;
}

@media (max-width: 768px) {
  .meBg {
    @include meBg();
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .meBg {
    @include meBg();
    opacity: 1;
    position: relative;
    height: 65vh;
    width: 91vw;
    top: 7vh;
  }
}
