@import "../settings.scss";

.navbar-navlink {
  margin: $margin;
  color: $grey;
}

.navbar-navlink:hover {
  text-decoration: none;
  color: lighten($grey, 10);
}

.active {
  color: $highlight-font-color;
  font-weight: 700;
}

// .name {
//   color: $highlight-font-color;
// }
