@import "../settings.scss";

.portfolio-item {
  max-width: min-content;
  min-width: 16vw;
  margin: $margin;
}

div.project-links > div {
  padding: 0 1vw;
}

a.icon-link > svg {
  transition: all 0.3s ease-in-out;
}

a.icon-link {
  color: $white;
  transition: color 0.2s ease;
  &:hover {
    color: $purple;
  }
  &:hover svg {
    transform: scale(1.2);
  }
}

.shadow-mine {
  -webkit-box-shadow: 10px 10px 44px -16px rgba(255, 255, 255, 0.19);
  -moz-box-shadow: 10px 10px 44px -16px rgba(255, 255, 255, 0.19);
  box-shadow: 10px 10px 44px -16px rgba(255, 255, 255, 0.19);
}

@each $tech in $icon-divs {
  .project-links__icon-div-#{$tech} {
    padding: 0 1rem;
  }
}
