@import "./settings.scss";
.stripes {
  background-image: repeating-linear-gradient(
    to right,
    transparent,
    transparent 217px,
    grey 2px,
    grey 218px
  );
  display: block;
  position: fixed;
  height: 105vh;
  width: 400vw;
  background-color: transparent;
  opacity: 0.14;
  z-index: 1;
  overflow: hidden;
  left: -280vw;
  top: 0;
}
