@import "./settings.scss";

body {
  font-size: 20px;
  color: $main-font-color;
  font-weight: 400;
  overflow-y: overlay;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  color: $highlight-font-color;
}

li {
  list-style-type: none;
}

.wrapper {
  height: 89vh;
}

ul {
  padding: 0px;
}

