@import './settings.scss';

body {
	background-color: rgb(16, 16, 16);
	font-family: 'WorkSans';
	font-size: 20px;

	color: white;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-weight: 700;
}

.wrapper {
	height: $viewport-height;
}