$margin: 5px;
$viewport-height: 95vh;
$bg-color: rgb(28, 28, 28);
$grey: #9c9c9c;
$white: #fff;
$highlight-font-color: $white;
$main-font-color: $grey;
$blue: #007bff;
$purple: #5158bb;

////// ICON COLORS /////
$react: #00e1ff;
$redux: #764abc;
$html5: #e44d26;
$css3: #1f62ae;
$sass: #cf649a;
$node: #7dc908;
$mongo: #4da53f;

$icons: (
  "react": #00e1ff,
  "redux": #764abc,
  "html5": #e44d26,
  "css3": #1f62ae,
  "sass": #cf649a,
  "node": #7dc908,
  "mongo": #4da53f
);
$icon-divs: (
  "link": "left",
  "github": "right"
);
