$margin: 5px;
$viewport-height: 95vh;
$bg-color: rgb(28, 28, 28);
$grey: #9c9c9c;
$white: #fff;
$highlight-font-color: $white;
$main-font-color: $grey;
$blue: #007bff;
$purple: #5158bb;

////// ICON COLORS /////
$react:#00E1FF;
$redux:#764ABC;
$html5:#E44D26;
$css3:#1F62AE;
$sass:#CF649A;
$node:#7DC908;
$mongo:#4DA53F;