@import './settings';
@import './base';
@import './background';

@import './components/landing';
@import './components/contactPage';
@import './components/aboutMePage';

@import './components/portfolioitem';
@import './components/footer';
@import './components/spinner';
@import './components/hamburguer';
@import './components/contactForm';

@import '../../node_modules//bootstrap/scss/functions';
@import '../../node_modules//bootstrap/scss/variables';

@font-face {
  font-family: 'Titilium Web';
  src: url('../assets/TitilliumWeb.woff2') format('woff2');
}

// CUSTOM SCSS
$font-family-base: 'Titilium Web', sans-serif;
$body-bg: $bg-color;
$body-color: $main-font-color;
$theme-colors: (
  primary: $purple,
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
