@import "./settings";
@import "./base";
@import "./background";
@import "./components/navbarmenu";
@import "./components/landing";
@import "./components/contactPage";
// @import './components/submenu';
@import "./components/aboutMePage";
// @import './components/portfoliopage';
@import "./components/portfolioitem";
@import "./components/footer";

.loader {
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "WorkSans";
  src: url("/assets/fonts/WorkSans.woff2") format("woff2");
}

// CUSTOM SCSS
$font-family-sans-serif: "Worksans";
$body-bg: $bg-color;
$body-color: $main-font-color;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
